<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PIMHotelaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <style>
        .fundoNavbar {
            background-color: rgba(0, 0, 0, 0.363);
        }
        .corMenuReduzido {
            background-color: white;
        }
    </style>
</head>

<body class="img-fluid" style="background-image: url('img/Sino.png'); background-repeat: no-repeat; background-position: center; background-size:cover">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark fundoNavbar border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img class="img-fluid" src="~/img/IconeLogo.png" alt="PIMHOTELARIA" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="Clientes/Index">Cadastrar-se</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="Contas/Index">Conta</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="Reservas/Index">Faça sua Reserva!</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <br />
    <br />
    <br />
    <br />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PIMHotelaria - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
